<div class="grid_8">
    <div class="left-1 page1-col1">
        <h2 class="h2">Welcome to Gift Santa</h2>
        <div class="border-1 p1 bot-0">
            <p class="color-1 p1">Manisha International - a place where quality is and has always been a way of life. Your one-stop solution for all your gift requirements. Whether it is Diwali, Christmas or the New Year, just step in and choose from our wide array of options that will definitely captivate you with their ephemeral splendor.</p>
            <p class="color-1 p1">Our products will speak volumes about your brand image, firmly establishing you as an organization with impeccable credentials and good taste. So, make a new beginning. Break away from mediocrity. Come discover the world of beauty and build a new relationship with us. We assure you that this is one bond that will need no strengthening.</p>
            <div class="extra-wrap p1"> <a href="about.html" class="button-2">Read More</a> </div>
    	</div>
    </div>
</div>