<header>
    <div class="main">
		<div class="wrap">
			<h1><a href="${properties.logoLink}.html"><img src=${properties.logo} alt=${properties.logoAltText} width=${properties.logoWidth}></a></h1>
		</div>
		<nav>
			<ul class="menu">
				<li class="current"><a href="${properties.lnk1}.html">${properties.txt1}</a></li>
				<li><a href="${properties.lnk2}.html">${properties.txt2}</a></li>
				<li><a href="${properties.lnk3}.html">${properties.txt3}</a></li>
				<li class="last"><a href="${properties.lnk4}.html">${properties.txt4}</a></li>
			</ul>
		</nav>
  </div>
</header>